<a href="/">Go Back Home</a>
<h1>{{title}}</h1>

<div class="tile-container">
  {{#each data}}
    <div class="tile">
      <h2>{{{nameOrNA (get this "NAME")}}}</h2>
      <p><strong>ID:</strong> {{get this "id"}}</p>
      <p><strong>Host Name:</strong> {{get this "host name"}}</p>
      <p><strong>Neighbourhood:</strong> {{get this "neighbourhood"}}</p>
      <p><strong>Country:</strong> {{get this "country"}}</p>
      <p><strong>Price:</strong> {{get this "price"}}</p>
      <a href="/allData/{{_id}}">View Details</a>
    </div>
  {{/each}}
</div>
