<a href="/">Go Back Home</a>
<a href="/allData">View All Data</a>
<a href="/viewData">View All Data(Table View)</a>

<h1>{{title}}</h1>

<div style="border:1px solid #ccc; padding:15px; margin-bottom:20px;">
  
  <h2>{{nameOrNA data.NAME}}</h2>

  <p><strong>ID:</strong> {{data.id}}</p>
  <p><strong>Host ID:</strong> {{data.host_id}}</p>
  <p><strong>Host Name:</strong> {{data.host_name}}</p>
  <p><strong>Host Verified:</strong> {{data.host_identity_verified}}</p>

  <p><strong>Neighbourhood Group:</strong> {{data.neighbourhood_group}}</p>
  <p><strong>Neighbourhood:</strong> {{data.neighbourhood}}</p>

  <p><strong>Country:</strong> {{data.country}} ({{data.country_code}})</p>

  <p><strong>Room Type:</strong> {{data.room_type}}</p>

  <p><strong>Construction Year:</strong> {{data.construction_year}}</p>

  <p><strong>Price:</strong> {{data.price}}</p>
  <p><strong>Service Fee:</strong> {{data.service_fee}}</p>

  <p><strong>Minimum Nights:</strong> {{data.minimum_nights}}</p>
  <p><strong>Number of Reviews:</strong> {{data.number_of_reviews}}</p>
  <p><strong>Last Review:</strong> {{data.last_review}}</p>
  <p><strong>Reviews per Month:</strong> {{data.reviews_per_month}}</p>
  <p><strong>Review Rating:</strong> {{data.review_rate_number}}</p>

  <p><strong>Listings Count:</strong> {{data.calculated_host_listings_count}}</p>
  <p><strong>Availability 365:</strong> {{data.availability_365}}</p>

  <p><strong>House Rules:</strong> {{data.house_rules}}</p>
  <p><strong>License:</strong> {{data.license}}</p>
  <p><strong>Property Type:</strong> {{data.property_type}}</p>

  <div>
    <strong>Thumbnail:</strong><br>
    {{#if data.thumbnail}}
      <img src="{{data.thumbnail}}" width="300">
    {{else}}
      N/A
    {{/if}}
  </div>

  <div>
    <strong>Images:</strong><br>
    {{#if data.images}}
      {{#each data.images}}
        <img src="{{this}}" width="200" style="margin:5px;">
      {{/each}}
    {{else}}
      N/A
    {{/if}}
  </div>

</div>
