<a href="/">Go Back Home</a>
<h1>{{title}}</h1>

{{#each data}}
  <div style="border:1px solid #ccc; padding:15px; margin-bottom:20px;">
    <h2>{{{nameOrNA (get this "NAME")}}}</h2>
    <p><strong>ID:</strong> {{get this "id"}}</p>
    <p><strong>Host Name:</strong> {{get this "host name"}}</p>
    <p><strong>Price:</strong> {{get this "price"}}</p>
    <a href="/allData/{{_id}}">View Details</a>
  </div>
{{/each}}
