<a href="/">Go Back Home</a>
<h1>{{title}}</h1>

<table border="1" cellpadding="10" cellspacing="0" style="border-collapse: collapse; width: auto; margin-top: 20px;">
  <thead style="background-color: #5e6061; color: white;">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Host Name</th>
      <th>Neighbourhood</th>
      <th>Price</th>
      <th>Room Type</th>
      <th>Thumbnail</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
      <tr>
        <td>{{get this "id"}}</td>
        <td>{{{nameOrNA (get this "NAME")}}}</td>
        <td>{{get this "host name"}}</td>
        <td>{{get this "neighbourhood"}}</td>
        <td>{{get this "price"}}</td>
        <td>{{get this "room type"}}</td>
        <td>
          {{#if (get this "thumbnail")}}
            <img src="{{get this "thumbnail"}}" width="100" alt="Thumbnail">
          {{else}}
            N/A
          {{/if}}
        </td>
        <td>
          <a href="/allData/{{_id}}">View Details</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
